body {
	font-family: "Audiowide", sans-serif;
	text-color: white;
}

.nav-bar-header {
    color: white;
}

.page-footer {
    background: #0dcaf0;
    color: white;
}

.card-center {
    align-items: center!important;
    justify-content: center!important;
}

.skill-category-name {
    font-size: 200%;
}

.skill-logo {
    width: 80px;
}

.skill-row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.skill-name {
    color: #222851;
    font-size: 90%;
    font-weight: bold;
}

.skill-name > a:link {
    color: #222851;
}

.button-text {
    color: #ffffff;
}

.experience-logo {
    width: 90px;
    max-width: 90px;
}

.experience-first-line {
    font-size: 200%;
    font-weight: bold;
    padding-bottom: 1em;
}

.experience-second-line {
    font-size: 150%;
}

.experience-remark {
    padding-top: 0.5em;
    font-size: 100%;
    color: #808080;
}

.project-logo {
    width: 50px;
}

/*
.row-skill {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}*/