body {
	font-family: "Audiowide", sans-serif;
	background-color: white;
}

.nav-bar-header {
    color: white;
}

.page-footer {
    background: #0dcaf0;
    color: white;
}

.skill-category-name {
    font-size: 200%;
}

.skill-name {
    color: #222851;
    font-size: 150%;
}

.skill-name > a:link {
    color: #222851;
}