body {
	font-family: "Audiowide", sans-serif;
	background-color: white;
}

.nav-bar-header {
    color: white;
}

.page-footer {
    background: #0dcaf0;
    color: white;
}

.card-center {
    align-items: center!important;
    justify-content: center!important;
}

.skill-category-name {
    font-size: 200%;
}

.skill-name {
    color: #222851;
    font-size: 150%;
}

.skill-name > a:link {
    color: #222851;
}

.job-title {
    color: #ffffff;
}

.experience-first-line {
    font-size: 200%;
}

.experience-second-line {
    font-size: 100%;
}

.experience-remark {
    padding-top: 0.5em;
    font-size: 100%;
    color: #808080;
}